<%- include('partials/head.ejs') %>

<%- include('partials/navbar.ejs') %>

    <main class="container">
        <h1 class= "bg-danger text-white text-center">Asigna una nueva unidad Evangelion</h1>
        <img src="media/eva.png" alt="EVA" style="width:30%">
        <form action="nueva-unidad?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <div class="mb-3">
                <label for="NumUnidad" class="form-label">Numero de EVA:</label>
                <input type="text" class="form-control" id="NumUnidad" name="NumUnidad">
            </div>
            <div class="mb-3">
                <label for="Children" class="form-label">Nombre del niño elegido:</label>
                <input type="text" class="form-control" id="Children" name="Children">
            </div>
            <div class="mb-3">
                <label for="Pais" class="form-label">Pais de origen del niño:</label>
                <input type="text" class="form-control" id="Pais" name="Pais">
            </div>
            <div class="mb-3">
                <label for="Imagen" class="form-label">Imagen:</label>
                <input class="form-control" type="file" id="Imagen" name="Imagen">
            </div>
            <input type="submit" class="btn btn-dark" value="Guardar EVA">
        </form><br>
    </main>

<%- include('partials/footer.ejs') %>