<%- include('partials/head.ejs') %>

<%- include('partials/navbar.ejs') %>

    <main>
        <h1 class= "bg-danger text-white">UNIDADES</h1>
        <ul>
            <% for (let EVA of lista_EVAS) { %>
                <li><h3 class= "bg-primary"> Unidad EVA <%= EVA.nombre %> pilotada por <%= EVA.children %> de <%= EVA.pais %>.</h3>
                    <img src="<%= EVA.imagen %>" alt="<%= EVA.imagen %>" style="width:40%">
                </li>
            <% } %>
        </ul>
    </main>

<%- include('partials/footer.ejs') %>